<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Caixa Preta - Dashboard</title>
</head>
<body class="bg-slate-800">
  <style>
    .menu:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .menu:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
</style>
  <div class="flex">
    <h1 class="ml-5 text-4xl font-bold my-4 text-gray-200">Caixa Preta</h1>
    <a class="menu p-1 ml-5 text-2xl my-4 text-gray-200 rounded" href="/">Home</a>
    <a class="menu p-1 ml-5 text-2xl my-4 text-gray-200 rounded" href="dash">Dashboard</a>
  </div>
  <iframe style="background: #F1F5F4;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);width: 100vw;height: 100vh;"  src="https://charts.mongodb.com/charts-mestrado-ksblg/embed/dashboards?id=44b72f53-1723-413d-8463-fa3efa6d9d59&theme=light&autoRefresh=true&maxDataAge=3600&showTitleAndDesc=false&scalingWidth=fixed&scalingHeight=fixed"></iframe>
</body>
</html>