<!DOCTYPE html>
<html>
<head>
    <title>Filtro</title>
</head>
<body>
  <form method="POST" action="">
    <select name="filtro_pais">
      <option value="todos" selected>Todos Países</option>
      <option value="bra">Brasil</option>
      <option value="eua">EUA</option>
    </select>
    
    <select name="filtro_tipo">
      <option value="todos" selected>Todos Tipos</option>
      <option value="Accident">Acidente</option>
      <option value="Incident">Incidente</option>
    </select>
    
    <input type="submit" value="Filtrar">
  </form>
  <div id="map" style="height: 82vh;"></div>

  <script>
    // Crie um mapa Leaflet e defina a localização e o zoom inicial
    var map = L.map('map').setView([0, 0], 3);

    // Adicione uma camada de mapa do OpenStreetMap
    L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3']
    }).addTo(map);

    // Itere sobre os dados e adicione marcadores ao mapa
    {% for dado in resultados %}
        // Defina a cor do ícone com base no atributo dado.tipo
        var iconColor = "{{ dado.tipo }}" === "Accident" ? "red" : "blue";

        // Crie o ícone personalizado com a cor escolhida
        var customIcon = L.icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-' + iconColor + '.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
        });

        L.marker([{{ dado.latitude }}, {{ dado.longitude }}], { icon: customIcon })
            .addTo(map)
            .bindPopup(
              "<b>{{ dado.tipo }}</b><br>Data: {{ dado.date }}<br>Latitude: {{ dado.latitude }}<br>Longitude: {{ dado.longitude }}"
            );
    {% endfor %}
  </script>

    {% if resultados %}
    <h2>Resultados:</h2>
    <ul>
        {% for resultado in resultados %}
        <li>{{ resultado }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
  