<!DOCTYPE html>
<html>
<head>
    <title>Caixa Preta</title>
    <!-- Inclua as bibliotecas do Leaflet para exibir o mapa -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-slate-800">
    <style>
        html, body, #map {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .red-marker {
            background-image: url('https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png');
            width: 15px;
            display: inline-block;
            margin-right: 5px;
            }

        .blue-marker {
            background-image: url('https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png');
            width: 25px;
            height: 41px;
            display: inline-block;
            margin-right: 5px;
        }
    </style>
    <h1 class="ml-5 text-4xl font-bold my-4 text-gray-200">Caixa Preta</h1>

    <div class="container mx-auto my-4 flex">
        <form id="filtro-form" method="POST" action="" class="flex items-end">
            <div class="w-1/5 mr-4">
                <label for="filtro_pais" class="block font-bold mb-2 text-gray-200">País:</label>
                <select name="filtro_pais" class="w-full mx-1 px-2 py-1 border border-gray-300 rounded">
                <option value="todos" selected>Todos Países</option>
                {% for pais in paises %}
                    <option value="{{ pais._id }}" {% if filtro_pais == pais._id %}selected{% endif %}>{{ pais._id }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="w-1/5 mr-4">
                <label for="filtro_tipo" class="block font-bold mb-2 text-gray-200">Tipo:</label>
                <select name="filtro_tipo" class="w-full mx-1 px-2 py-1 border border-gray-300 rounded">
                <option value="todos" selected>Todos Tipos</option>
                <option value="Accident">Acidente</option>
                <option value="Incident">Incidente</option>
                </select>
            </div>
            <div class="w-1/5 mr-4">
                <label for="filtro_de" class="block font-bold mb-2 text-gray-200">De:</label>
                <input type="date" name="filtro_de" class="w-full mx-1 px-2 py-1 border border-gray-300 rounded">
            </div>
            <div class="w-1/5 mr-4">
                <label for="filtro_ate" class="block font-bold mb-2 text-gray-200">Até:</label>
                <input type="date" name="filtro_ate" class="w-full mx-1 px-2 py-1 border border-gray-300 rounded">
            </div>
            <div class="w-1/5 align-baseline ">
                <button type="submit" class="px-4 py-2 bg-orange-500 text-white font-bold rounded">Filtrar</button>
            </div>
          </form>
          <div id="loading-message" class="text-gray-200 items-end" style="display: none;">Filtrando dados...</div>
    </div>    
    <div id="map" style="height: 82vh;"></div>
    <div id="legenda"></div>
    
    <script>
         // Captura o evento de envio do formulário
        document.querySelector('#filtro-form').addEventListener('submit', function() {
            // Exibe a mensagem de loading
            document.querySelector('#loading-message').style.display = 'block';
        });
        // Crie um mapa Leaflet e defina a localização e o zoom inicial
        var map = L.map('map').setView([0, 0], 3);

        // Adicione uma camada de mapa do OpenStreetMap
        L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
            minZoom: 2,
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        }).addTo(map);

        // Crie uma camada de grupo para os marcadores
        var marcadores = L.layerGroup().addTo(map);

        // Função para atualizar a exibição dos marcadores com base no zoom
        function atualizarMarcadores() {
            // Limpe a camada dos marcadores
            marcadores.clearLayers();

            // Verifique o nível de zoom do mapa
            var zoom = map.getZoom();

            // Itere sobre os resultados e adicione círculos ou marcadores ao mapa
            {% for dado in resultados %}
            {% if dado.injury_details %}
                // Verifique se os valores existem ou são nulos
                var totalUninjured = {{ dado.injury_details[0].TotalUninjured if dado.injury_details[0].TotalUninjured else 0 }};
                var totalMinorInjuries = {{ dado.injury_details[0].TotalMinorInjuries if dado.injury_details[0].TotalMinorInjuries else 0 }};
                var totalFatalInjuries = {{ dado.injury_details[0].TotalFatalInjuries if dado.injury_details[0].TotalFatalInjuries else 0 }};
            {% else %}
                // Caso não haja detalhes de lesões, defina os valores como zero
                var totalUninjured = 0;
                var totalMinorInjuries = 0;
                var totalFatalInjuries = 0;
            {% endif %}

                // Formate a data usando strftime
                var eventDate = new Date("{{ dado.EventDate }}");
                var formattedDate = eventDate.toLocaleDateString('pt-BR');

                popup = `
                    <b>{{ dado.InvestigationType }}</b><br>
                    País: {{ dado.Country }}<br>
                    Data: ${ formattedDate }<br>
                    Latitude: {{ dado.Latitude }}<br>
                    Longitude: {{ dado.Longitude }}<br><br>
                    Report: {{ dado.ReportStatus }}<br><br>
                    <b>Vítimas:</b><br>
                    Sem Ferimentos: ${totalUninjured}<br>
                    Feridas: ${totalMinorInjuries}<br>
                    Fatais: ${totalFatalInjuries}<br>
                `;

                // Verifique o nível de zoom atual
                if (zoom <= 5) {
                    // Crie um círculo para representar a área
                    var circle = L.circle([{{ dado.Latitude }}, {{ dado.Longitude }}], {
                        radius: 300, // Defina o raio do círculo de acordo com suas necessidades
                        color: "{{ dado.injury_details[0].TotalFatalInjuries }}" > 0 ? "red" : "blue",
                        fillOpacity: 0.5
                    }).addTo(marcadores);

                    // Adicione uma pop-up ao círculo
                    circle.bindPopup(popup);
                } else {
                    // Defina a cor do ícone com base no atributo dado.injury_details[0].TotalFatalInjuries
                    var iconColor = "{{ dado.injury_details[0].TotalFatalInjuries }}" > 0 ? "red" : "blue";

                    // Crie o ícone personalizado com a cor escolhida
                    var customIcon = L.icon({
                        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-' + iconColor + '.png',
                        iconSize: [25, 41],
                        iconAnchor: [12, 41],
                        popupAnchor: [1, -34],
                    });

                    // Adicione um marcador com ícone ao mapa
                    var marker = L.marker([{{ dado.Latitude }}, {{ dado.Longitude }}], { icon: customIcon })
                        .addTo(marcadores)
                        .bindPopup(popup);
                }
            {% endfor %}

        }

        // Adicione um evento de zoom ao mapa para atualizar os marcadores
        map.on('zoomend', function () {
            atualizarMarcadores();
        });

        // Inicialize os marcadores
        atualizarMarcadores();
    </script>

    <!-- <script>
        // Crie um mapa Leaflet e defina a localização e o zoom inicial
        var map = L.map('map').setView([0, 0], 3);

        // Adicione uma camada de mapa do OpenStreetMap
        L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        }).addTo(map);

        // Crie a legenda personalizada
        var legenda = L.control({ position: 'bottomleft' });

        // Defina o conteúdo HTML da legenda
        legenda.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'legenda');
            div.innerHTML += '<b>Legenda</b><br>';
            div.innerHTML += '<i style="background: #b91c1c"></i><span>Acidente</span><br>';
            div.innerHTML += '<i style="background: #1d4ed8"></i><span>Incidente</span><br>';
            return div;
        };

        // Adicione a legenda ao mapa
        legenda.addTo(map);
        // Itere sobre os resultados e adicione marcadores ao mapa
        {% for dado in resultados %}
            // Defina a cor do ícone com base no atributo dado.InvestigationType
            var iconColor = "{{ dado.InvestigationType }}" === "Accident" ? "red" : "blue";
            // Crie o ícone personalizado com a cor escolhida
            var customIcon = L.icon({
                iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-' + iconColor + '.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
            });

            var marker = L.marker([{{ dado.Latitude }}, {{ dado.Longitude }}]/*, { icon: customIcon }*/)
                .addTo(map)
                .bindPopup("<b>{{ dado.Location }}</b><br>Data: {{ dado.EventDate }}<br>Latitude: {{ dado.Latitude }}<br>Longitude: {{ dado.Longitude }}");
        {% endfor %}
    </script> -->
</body>
</html>
